/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* Body */
body {
    background-color: #000;
    height: 100vh;
    color: white;
}

/* Conteneur principal */
.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* Logo */
.logo img {
    width: 210px;
    margin-bottom: 20px;
}

/* Titre */
.title {
    font-size: 36px;
    font-weight: 700;
    color: #e31c23;
    margin-bottom: 8px;
}

/* Sous-titre */
.subtitle {
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
}

/* Zone des noms */
.names-box {
    position: absolute;
    bottom: 60px;
    width: 80%;
    max-width: 900px;
    border: 2px solid #00aaff;
    padding: 12px 15px;
    font-size: 15px;
    color: #aaa;
}

/* Nom */
.name {
    margin-bottom: 5px;
}
